* {
  margin    : 0;
  padding   : 0;
  box-sizing: border-box;
}

html {
  scroll-behavior       : smooth;
  /* -webkit-user-select: none; */
}


.contenedor {
  width          : 100%;
  display        : flex;
  flex-direction : column;
  justify-content: center;
}